/*body {
	height:100%;
}*/
.navbar-custom {
	  background-color:#46B235;
	  background-image: none;
	  background-repeat: no-repeat;
	  /*opacity: 0.8;*/
	 
}
.navbar-default .navbar-brand {
	
	color:black;
}
#loginContainer {
			background-image:url('../images/jogger.jpg');
    		width:100%;
			height:900px;
    		background-size:cover;
    		background-position:center;
    	
}
#topRow{
    		margin-top:100px;
    		text-align:center;
    	}
.tiles {
	
	background-color:yellow;
	
}

.row.no-gutters {
   margin-right: 0;
   margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}

	
	/*z-index: 1000;*/}
/*.arpita {
	beforeShow : function() {
    
    var z = $(".tooltipster-base").css('z-index');
    /*$(".modal").css('z-index', z+1);*/
 